{% extends 'backend/base.html.twig' %}

{% block body %}

    {{ include('backend/_partials/header.html.twig') }}

    {{ include('backend/_partials/left_sidebar.html.twig') }}

    <table id="dren-tbl" class="table dataTable no-footer" role="grid" aria-describedby="dren-tbl_info">
        <thead class="datable-thead table-light">
        <tr>
            <th><small></small></th>
            <th><small>Libellé</small></th>
            <th><small>Email</small></th>
            <th><small>Téléphone</small></th>
            <th style="min-width:50px">Action</th>
        </tr>
        </thead>
    </table>
    {{ include("backend/_partials/footer.html.twig") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script type="text/javascript">
    $(document).ready(function () {
        var datatable = initDatatable();

        function initDatatable(){
            /* DATATABLE INIT */
            var dt = $('#dren-tbl').DataTable( {
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "searching": false,
                "ajax": {
                    "url": '{{ path('app_dren_dt') }}',
                    "data": function (d) {
                    }
                },
                "columns": [
                    {
                        "class":   "details-control",
                        "orderable": false,
                        "data":      "id",
                        "defaultContent": ""
                    },
                    {"data":  "libelle"},
                    {"data":  "email"},
                    {"data":  "telephone"},
                    { "data": "id" }
                ],
                "order": [[1, 'asc']]
            } );

            return dt;
        }
    })
</script>

{% endblock %}
