<div class="d-flex justify-content-center mt-5">
    <table class="table table-sm table-condensed w-90 px-5">
        <thead>
        <tr role="row">
            <th>SOURCE</th>
            <th>MONTANT</th>
            <th>ACTIONS</th>
        </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ recette.source.libelleSource }}</td>
                <td>{{ recette.montantRecette }}</td>
                <td width="3%">
                    <div class='d-flex'>
                        <span class='btn btn-warning shadow btn-xs sharp me-1 edit-recette' data-recette-id='{{ recette.id }}'><i class='fa fa-pencil'></i></span>
                        <span class='btn btn-danger shadow btn-xs sharp delete-recette' data-recette-id='{{ recette.id }}'><i class='fa fa-trash'></i></span>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr class="fw-bold fs-3">
            <td><div class="float-end">Total</div></td>
            <td>{{ total_recettes }}</td>
        </tr>
        </tbody>
    </table>
</div>

