<!DOCTYPE html>

<title>Privilege index</title>

{% block body %}
    <h1>Privilege index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for privilege in privileges %}
            <tr>
                <td>{{ privilege.id }}</td>
                <td>{{ privilege.name }}</td>
                <td>{{ privilege.description }}</td>
                <td>
                    <a href="{{ path('app_privilege_show', {'id': privilege.id}) }}">show</a>
                    <a href="{{ path('app_privilege_edit', {'id': privilege.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_privilege_new') }}">Create new</a>
{% endblock %}
