<!DOCTYPE html>

<title>Fournisseurs index</title>

{% block body %}
    <h1>Fournisseurs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contact</th>
                <th>Entreprise</th>
                <th>Activite</th>
                <th>Localite</th>
                <th>Rib</th>
                <th>Domiciliation</th>
                <th>IntituleCompte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.id }}</td>
                <td>{{ fournisseur.nom }}</td>
                <td>{{ fournisseur.contact }}</td>
                <td>{{ fournisseur.entreprise }}</td>
                <td>{{ fournisseur.activite }}</td>
                <td>{{ fournisseur.localite }}</td>
                <td>{{ fournisseur.rib }}</td>
                <td>{{ fournisseur.domiciliation }}</td>
                <td>{{ fournisseur.intituleCompte }}</td>
                <td>
                    <a href="{{ path('app_fournisseurs_show', {'id': fournisseur.id}) }}">show</a>
                    <a href="{{ path('app_fournisseurs_edit', {'id': fournisseur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fournisseurs_new') }}">Create new</a>
{% endblock %}
