<!DOCTYPE html>

<title>Chapitres</title>

{% block body %}
    <h1>Chapitres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chapitre.id }}</td>
            </tr>
            <tr>
                <th>LibelleChapitre</th>
                <td>{{ chapitre.libelleChapitre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chapitres_index') }}">back to list</a>

    <a href="{{ path('app_chapitres_edit', {'id': chapitre.id}) }}">edit</a>

    {{ include('chapitres/_delete_form.html.twig') }}
{% endblock %}
