{% extends 'backend/base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-control {
           height: 2.1rem;
        }
        #btnvoirplus.btn-sm, #btnvoirplus.btn-group-sm>.btn, #btn-file-pacc {
            padding: 0px 10px;
        }
        .accordion {
            --bs-accordion-bg: rgba(136, 136, 136, 0);
        }

        .choice-grp {
            max-width: 150px;
            height: 80px;
            margin: 0px 5px 0px 5px;
            padding: 70px 20px 70px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            cursor: pointer;
        }
        .choice-grp:hover{
            box-shadow: 0 0.125rem 0.25rem #f6d59e !important;
        }
        .choice-grp.active{
            box-shadow: 0 0.125rem 0.1rem 2px #ff9f00 !important;
        }
    </style>
{% endblock %}
{% block body %}

<div id="main-wrapper" class="show menu-toggle">
    {{ include('backend/_partials/header.html.twig') }}

    {{ include('backend/_partials/left_sidebar.html.twig') }}

    <div class="content-body">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h5 class="mb-0">DETAILS COGES</h5>
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6">
                    <div class="card box-hover">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-box icon-box-lg bg-success-light rounded-circle">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.24463 14.7815L10.2378 10.8913L13.652 13.5732L16.581 9.79291" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <circle cx="19.9954" cy="4.20021" r="1.9222" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M14.9243 3.12012H7.65655C4.64511 3.12012 2.77783 5.25284 2.77783 8.26428V16.3467C2.77783 19.3581 4.6085 21.4817 7.65655 21.4817H16.2607C19.2721 21.4817 21.1394 19.3581 21.1394 16.3467V9.30776" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div class="total-projects ms-3">
                                    <h3 class="text-success count">{{ 24 }}</h3>
                                    <span>Activités prévues</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="card box-hover">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-box icon-box-lg bg-washed-blue rounded-circle">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.24463 14.7815L10.2378 10.8913L13.652 13.5732L16.581 9.79291" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <circle cx="19.9954" cy="4.20021" r="1.9222" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M14.9243 3.12012H7.65655C4.64511 3.12012 2.77783 5.25284 2.77783 8.26428V16.3467C2.77783 19.3581 4.6085 21.4817 7.65655 21.4817H16.2607C19.2721 21.4817 21.1394 19.3581 21.1394 16.3467V9.30776" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                                <div class="total-projects ms-3">
                                    <h3 class="text-primary count">{{ 12 }}</h3>
                                    <span>Activités prévues</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6">
                    <div class="card box-hover">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-box icon-box-lg bg-purple-light rounded-circle">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7.24463 14.7815L10.2378 10.8913L13.652 13.5732L16.581 9.79291" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <circle cx="19.9954" cy="4.20021" r="1.9222" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M14.9243 3.12012H7.65655C4.64511 3.12012 2.77783 5.25284 2.77783 8.26428V16.3467C2.77783 19.3581 4.6085 21.4817 7.65655 21.4817H16.2607C19.2721 21.4817 21.1394 19.3581 21.1394 16.3467V9.30776" stroke="#130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>                                </div>
                                <div class="total-projects ms-3">
                                    <h3 class="text-purple count">7</h3>
                                    <span>Activités non réalisées</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 py-5">
                    <table class="table table-responsive table-condensed table-hover">
                        <tbody>
                        <tr role="row" class="odd">
                            <td><strong>COGES : </strong></td>
                            <td>{{ coge.libelle ?? 'N/A' }}</td>
                            <td><strong>Cycle : </strong></td>
                            <td>{{ coge.cycle ? (coge.cycle == 1 ? 'Primaire' : 'Secondaire') : 'N/A' }}</td>
                            <td><strong>Numéro de compte : </strong></td>
                            <td>{{ coge.numeroCompte ?? 'N/A' }}</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td><strong>Domiciliation : </strong></td>
                            <td>{{ coge.domiciliation ?? 'N/A' }}</td>
                            <td><strong>Groupe scolaire : </strong></td>
                            <td>{{ coge.groupeScolaire ? (coge.groupeScolaire ? 'Oui' : 'Non') : 'N/A' }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr role="row" class="odd">
                            <td><strong>REGION : </strong></td>
                            <td>{{ coge.region ? coge.region.libelle : 'N/A' }}</td>
                            <td><strong>DREN : </strong></td>
                            <td>{{ coge.dren ? coge.dren.libelle: 'N/A' }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr role="row" class="even">
                            <td><strong>IEPP: </strong></td>
                            <td>{{ coge.iepp ? coge.iepp.libelle: 'N/A' }}</td>
                            <td><strong>COMMUNE : </strong></td>
                            <td>{{ coge.commune? coge.commune.libelle: 'N/A' }}</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-12">
                    <div class="card dz-card" id="custom-tab">
                        <div class="tab-content" id="myTabContent1">
                            <div class="tab-pane fade show active" id="DefaultTab1" role="tabpanel" aria-labelledby="home-tab1">
                                <div class="card-body pt-0">
                                    <!-- Nav tabs -->
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" data-bs-toggle="tab" href="#mandat" aria-selected="true" role="tab"><i class="la la-pager me-2"></i> Mandat en cours</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-bs-toggle="tab" href="#membres" aria-selected="false" tabindex="-1" role="tab"><i class="la la-people-carry me-2"></i> Membres</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-bs-toggle="tab" href="#pacc" aria-selected="false" tabindex="-1" role="tab"><i class="la la-file-contract me-2"></i> PACC</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-bs-toggle="tab" href="#parents" aria-selected="false" tabindex="-1" role="tab"><i class="la la-address-book me-2"></i> Parent d'élèves</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-bs-toggle="tab" href="#message" aria-selected="false" tabindex="-1" role="tab"><i class="la la-envelope me-2"></i> Message</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="mandat" role="tabpanel">
                                                <div class="m-5">
                                                    <div class="d-flex justify-content-center">
                                                        <div> Date de début : <strong>{{ mandat ? mandat.DateDebut|date('d/m/Y'): 'N/A' }}</strong></div>
                                                        <div style="margin-left: 150px;"> Date de fin : <strong>{{ mandat ? mandat.DateFin|date('d/m/Y') : 'N/A' }}</strong></div>
                                                    </div>
                                                    <hr>
                                                    <div class="d-flex justify-content-center my-4">
                                                        <button class="btn btn-warning btn-sm w-10" id="btnMandatCoges"><i class="la la-plus"> Enregistrer un nouveau mandat</i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="membres" role="tabpanel">
                                                <div class="m-5">
                                                    <div class="row d-flex justify-content-end">
                                                        <button class="btn btn-warning btn-sm w-auto" id="btnMembreOrgane"><i class="la la-plus">Enregistrer un nouveau membre</i></button>
                                                    </div>
                                                    <div class="mt-4 d-flex justify-content-center">
                                                        {% for k, organe in organes %}
                                                            <div class="choice-grp card {{ k == 0 ? 'active' : '' }}" id="ag" data-organe="{{ organe.id }}">
                                                                <p class="text-center"><i class="la la-people-carry la-3x"></i></p>
                                                                <p class="fw-bold text-center">{{ organe.libelleOrgane }}</p>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="mt-5 table-responsive active-projects style-1">
                                                        {{ include('backend/membre_organe/_membre_organe_datatable.html.twig') }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="pacc" role="tabpanel">
                                                <div class="mt-5">
                                                    <div class="col-md-12">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="pl-0"><strong>Date de début : </strong>{{ pacc ? pacc.dateDebut|date('d/m/Y') : 'N/A' }}</div>
                                                            <div><strong>Date de fin : </strong>{{ pacc ? pacc.dateFin|date('d/m/Y'): 'N/A' }}</div>
                                                            <div><strong>Télécharger le PACC : </strong>
                                                                {% if pacc %}
                                                                <button id="btn-file-pacc" class="btn btn-info btn-xs" data-id="{{ pacc.id }}"> Aperçu <i class="fa fa-eye"></i></button>
                                                                {% else %}
                                                                <span>N/A</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="px-5 pull-right">
                                                                {% if pacc is not empty %}
                                                                    <a class="btn btn-outline-warning btn-sm" id="btnvoirplus" href="{{ path('app_pacc_show', {id: pacc.id }) }}">Voir +</a>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="d-flex justify-content-center mt-3">
                                                    <button class="btn btn-warning btn-sm w-10" id="btnOffCanvasPacc"><i class="la la-plus"> Enregistrer un nouveau PACC</i></button>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="parents" role="tabpanel">
                                                <div class="pt-4">
                                                    <div class="basic-form">
                                                        <form>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <input type="text" class="form-control" placeholder="Nom et prénoms" name="coges_parent_nom_prenoms">
                                                                </div>
                                                                <div class="col-sm-3 mt-2 mt-sm-0">
                                                                    <input type="tel" class="form-control" placeholder="Téléphone" name="coges_parent_tel">
                                                                </div>
                                                                <div class="col-sm-2 mt-2 mt-sm-0">
                                                                    <button class="btn btn-warning btn-sm w-10"><i class="la la-plus"> Enregistrer</i></button>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="row d-flex justify-content-center mt-2">
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="message" role="tabpanel">
                                                <div class="pt-4">
                                                    <h4>This is message title</h4>
                                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                                    </p>
                                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="DefaultTab1-html" role="tabpanel" aria-labelledby="home-tab1">
                                <div class="card-body p-0 code-area"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

         {{ include("backend/mandat_coges/_mandat_coges_offcanvas.html.twig") }}
         {{ include("backend/pacc/_pacc_offcanvas.html.twig") }}
         {{ include("backend/membre_organe/_membre_organe_offcanvas.html.twig") }}
        {{ include("backend/pacc/_file_pacc_offcanvas.html.twig") }}
    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#    <script type="text/javascript" src="{{ asset('assets/backend/vendor/bts3-editable/bts3-editable/js/bootstrap-editable.js') }}"></script>#}
    <script type="text/javascript">

        $(document).ready(function () {
            var organeId = {{ organes[0].id }};
            var mandatId = {{ mandat ? mandat.id : 'null' }};

            var offcanvasPacc = document.getElementById('offcanvasPacc');
            var bsoffcanvasPacc = new bootstrap.Offcanvas(offcanvasPacc);

            var offcanvasMandatCoges = document.getElementById('offcanvasMandatCoges');
            var bsoffcanvasMandatCoges = new bootstrap.Offcanvas(offcanvasMandatCoges);

            var offcanvasMembreOrgane = document.getElementById('offcanvasMembreOrgane');
            var bsoffcanvasMembreOrgane = new bootstrap.Offcanvas(offcanvasMembreOrgane);

            var offcanvasFilePacc = document.getElementById('offcanvasFilePacc');
            var bsoffcanvasFilePacc= new bootstrap.Offcanvas(offcanvasFilePacc);

            var membreDT = null;

            $(document).on('shown.bs.tab',"a[data-bs-toggle='tab']", function(event){
                if("#membres" === event.target.getAttribute("href")){
                    if(!membreDT) membreDT = initDatatable();
                }
            });

            function initDatatable(){
                var dt = $('#membre_organe_datatable').DataTable( {
                    responsive: true,
                    pageLength: 5,
                    searching: false,
                    select: true,
                    lengthChange: false,
                    language: {
                        //url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/fr-FR.json',
                        info: "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                        infoEmpty: "Affichage de 0 à 0 sur 0 entrées",
                        lengthMenu: "Afficher _MENU_ entrées",
                        paginate: {
                            first: '',
                            last: '',
                            next: '<i class="fa-solid fa-angle-right"></i>',
                            previous: '<i class="fa-solid fa-angle-left"></i>'
                        },
                        processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw text-warning"></i><span class="sr-only">Chargement en cours...</span>'
                    },
                    processing: true,
                    serverSide: true,
                    ajax: {
                        "url": '{{ path('app_membre_organe_dt') }}',
                        "data": function (d) {
                            d.organe_filter = organeId;
                            d.mandat_filter = mandatId;
                        }
                    },
                    columns: [
                        { "data":  "id" },
                        { "data":  "nom" },
                        { "data":  "prenoms" },
                        { "data":  "genre" },
                        { "data": "profession" },
                        { "data": "contact" },
                        { "data": "" }
                    ],
                    order: [[1, 'desc']]
                } );
                return dt;
            }

            /////////////////// CREATE  MANDAT COGES///////////////////////
            $(document).on('click',"#btnMandatCoges", function(){
                bsoffcanvasMandatCoges.toggle();
                $.post("{{ path("app_mandat_coges_new") ~ "?coges=" ~  coge.id }}", function(response){
                    $("#mandat-coges-form-container").html(response);
                    $('.date').datetimepicker({
                        format: 'DD/MM/YYYY'
                    });
                    $(document).find("#btn-spin").hide();
                    $("form[name='mandat_coges']").attr('action', '{{ path("app_mandat_coges_new") }}');
                });
            });
            $(document).on("submit", "form[name='mandat_coges']", function(event) {
                event.preventDefault();
                $(document).find("#btn-spin").show();
                var form = $("form[name='mandat_coges']");
                var formData = new FormData(form[0]);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function(data) {

                    bsoffcanvasMandatCoges.toggle();
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Enregistrement effectuée avec succès",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function (result) {
                        $(document).find("#btn-spin").hide();
                        $("form[name='mandat_coges']").resetForm();
                        window.location.reload();
                    });
                }).fail(function(data) {
                    // Optionally alert the user of an error here...
                });
            });

            /////////////////// CREATE  MEMBRE ORGANE///////////////////////
            $(document).on('click',"#btnMembreOrgane", function(){
                bsoffcanvasMembreOrgane.toggle();
                $.post("{{ path('app_membre_organe_new') }}", function(response){
                    $("#membre-organe-form-container").html(response);
                    $(document).find("#btn-spin").hide();
                    $("form[name='membre_organe']").attr('action', '{{ path('app_membre_organe_new') }}');
                });
            });

            $('.choice-grp').click(function(){
                $('.choice-grp').removeClass('active');
                $(this).addClass('active');
                organeId = $(this).data('organe');
                if(membreDT) membreDT.draw();
            });

            $(document).on("click", ".btn-edit-membre_organe", function(){
                bsoffcanvasMembreOrgane.toggle();
                var id = $(this).data('id');
                $.post("/admin/membreorgane/" + id + "/edit", function(response){
                    $("#membre-organe-form-container").html(response);
                    $(document).find("#btn-spin").hide();
                    $("form[name='commune']").attr('action', "/admin/membreorgane/" + id + "/edit");
                });
            });

            $(document).on("submit", "form[name='membre_organe']", function(event) {
                event.preventDefault();
                $(document).find("#btn-spin").show();
                var form = $("form[name='membre_organe']");
                var formData = new FormData(form[0]);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function(data) {
                    bsoffcanvasMembreOrgane.toggle();
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Enregistrement effectuée avec succès",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function (result) {
                        $(document).find("#btn-spin").hide();
                        $("form[name='membre_organe']").resetForm();
                        datatable.draw();
                    });
                }).fail(function(data) {
                    // Optionally alert the user of an error here...
                });
            });

            ///////////////////AFFICHER FICHIER PACC///////////////////////////////////
            $(document).on('click', '#btn-file-pacc', function(e){
                e.preventDefault();
                var id = $(this).data('id');
                bsoffcanvasFilePacc.toggle();
                $.get("/admin/pacc/" + id + "/display-file", function(html){
                    $('#file-container').html(html);
                });
            });

            $(document).on("click", "#btnOffCanvasPacc", function(){
                bsoffcanvasPacc.toggle();
                $.post("{{ path("app_pacc_new") }}", function(response){
                    $("#pacc-form-container").html(response);
                    $(document).find("#btn-spin").hide();
                    $("form[name='pacc']").attr('action', '{{ path("app_pacc_new") }}');
                });
            });

            $(document).on("submit", "form[name='pacc']", function(event) {
                event.preventDefault();
                $(document).find("#btn-spin").show();
                var form = $("form[name='pacc']");
                var formData = new FormData(form[0]);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false
                }).done(function(data) {
                    bsoffcanvasPacc.toggle();
                    Swal.fire({
                        position: "top-end",
                        icon: "success",
                        title: "Enregistrement effectuée avec succès",
                        showConfirmButton: false,
                        timer: 1500
                    }).then(function (result) {
                        $(document).find("#btn-spin").hide();
                        $("form[name='pacc']").resetForm();
                        datatable.draw();
                    });
                }).fail(function(data) {
                    // Optionally alert the user of an error here...
                });
            });
        });
    </script>
{% endblock %}
