{% extends 'backend/base.html.twig' %}

{% block body %}

    {{ include('backend/_partials/header.html.twig') }}

    {{ include('backend/_partials/left_sidebar.html.twig') }}

    <table id="dren-tbl" class="table dataTable no-footer">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ coge.id }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ coge.libelle }}</td>
        </tr>
        <tr>
            <th>Cycle</th>
            <td>{{ coge.cycle }}</td>
        </tr>
        <tr>
            <th>NumeroCompte</th>
            <td>{{ coge.numeroCompte }}</td>
        </tr>
        <tr>
            <th>Domiciliation</th>
            <td>{{ coge.domiciliation }}</td>
        </tr>
        <tr>
            <th>GroupeScolaire</th>
            <td>{{ coge.groupeScolaire ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

    {{ include("backend/_partials/footer.html.twig") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
