{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('assets/admin/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/admin/libs/datatables.net-bs4/css/select.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block body %}

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    {{ include('gratifications/pages/_gratification_datatable.html.twig') }}
                </div>
                <!--end row-->
            </div>
        </div><!--end card-->
{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/admin/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var datatableExcelButtonKey = "E<u>x</u>cel";
        var datatableCSVButtonKey = "CSV";
        var datatableRefreshButton =  '<i class="icon icon-refresh"></i>';

        var datatable = initDatatable();

        function initDatatable(){
            /* DATATABLE INIT */
            var dt = $('#datatable').DataTable( {
                "responsive": true,
                 "pageLength": 50,
                "language": {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json',
                    processing: "<img height='32' width='32' src='{{ asset("assets/images/preloaders/5.svg") }}' />",
                    sLoadingRecords :"<img height='32' width='32' src='{{ asset("assets/images/preloaders/5.svg") }} />"
                },
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ path('gratification_datatable') }}',
                    "data": function (d) {

                    }
                },
                dom: '<"top"Bf>rt<"bottom-left"li><"bottom"p><"clear">',
                buttons: [
                    {
                        extend: 'csv',
                        text: datatableCSVButtonKey
                    },
                    {
                        extend: 'excel',
                        text: datatableExcelButtonKey
                    },
                    {
                        text: datatableRefreshButton,
                        action: function () {
                            table.ajax.reload();
                        }
                    }
                ],
                "columns": [
                    {"data":  "id"},
                    {"data":  "matricule"},
                    {"data":  "fullname"},
                    {"data":  "fonction"},
                    { "data": "janvier" },
                    { "data": "fevrier" },
                    { "data": "mars" },
                    { "data": "avril" },
                    { "data": "mai" },
                    { "data": "juin" },
                    { "data": "juillet" },
                    { "data": "aout" },
                    { "data": "septembre" },
                    { "data": "octobre" },
                    { "data": "novembre" },
                    { "data": "decembre" },
                ],
                "order": [[3, 'desc']]
            } );

            return dt;
        }
    });
</script>
{% endblock %}
